node_modules
dist
.tmp
.sass-cache
app/vendor/Latest-Strophe.js
app/vendor/angular
app/vendor/angular-animate
app/vendor/angular-audio-playlist
app/vendor/angular-cookies
app/vendor/angular-local-storage
app/vendor/angular-mocks
app/vendor/angular-route
app/vendor/angular-sanitize
app/vendor/angular-scenario
app/vendor/angular-xml
app/vendor/angular-dragndrop
app/vendor/angular-strap
app/vendor/animate.css
app/vendor/bootstrap
app/vendor/es5-shim
app/vendor/jquery
app/vendor/underscore
app/vendor/json3
app/styles/compiled
