<div>
  <div data-ng-repeat="entry in (filtered = (phonebook.main | orderBy:'name' | filter:{ 'name': search.t } )) track by $index">
    <div
      data-drag
      data-ng-model="entry"
      class="entry-container clearfix">
      <div class="entry-photo pull-left">
        <img data-ng-src="{{ entry.avatar }}">
      </div>
      <div class="entry-name pull-left">
        <span class="entry-name-big">{{ entry.name }}</span>
        <span class="entry-loc">{{ entry['contact-information'].location || '-' }}</span>
      </div>
    </div>
  </div>
</div>
